<%= form_with(model: protest, local: true) do |form| %>
  <% if protest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(protest.errors.count, "error") %> prohibited this protest from being saved:</h2>

      <ul>
      <% protest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, placeholder: 'Youth Demonstration for Climate Change @ the White House' %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_area :location, placeholder: '1600 Pennsylvania Ave NW, Washington, DC 20500' %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, placeholder: 'The current administration denies climate change…' %>
  </div>

  <div class="field">
    <%= form.label :start, 'Start time' %>
    <%= form.date_time :start %>
  </div>

  <div class="field">
    <%= form.label :end, 'End time' %>
    <%= form.date_time :end %>
  </div>

  <div class="field">
    <%= form.label :what_to_bring %>
    <%= form.text_area :what_to_bring, placeholder: 'Protest signs' %>
    <p class="muted h5 mt0">Put one item on each line.</p>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
