<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @protest.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @protest.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @protest.description %>
</p>

<p>
  <strong>What to bring:</strong>
  <%= @protest.what_to_bring %>
</p>


<h2>RSVPs</h2>
<table>
<tr>
  <th>Name</th>
  <th>Emails</th>
  <th>Phone Numbers</th>
</tr>
<% @protest.rsvp_people.each do | person | %>
  <tr>
    <td><%= person.name %></td>
    <td><%= person.email %></td>
    <td><%= person.phone_number %></td>
  </tr>
<% end %>
</table>

<h2>Notify all protestors</h2>

<%= form_tag(protest_admin_notify_path(@protest), method: "post") do %>
  <%= label_tag(:message, "What do you want to say?") %>
  <%= text_area_tag(:message) %>
  <%= submit_tag("Send!") %>
<% end %>


<%= link_to 'Edit', edit_protest_path(@protest) %> |
<%= link_to 'Back', protests_path %>


<br>
<br>
<%= link_to 'Admin', protest_admin_path(@protest) %>