<% page_md %>

<h1>Upcoming events</h1>
<p class="h3">Near <span class="primary medium underline-dotted">Sunnyvale, CA</span></p>

<% @protests.each do |protest| %>
  <%= link_to protest, class: 'mb3 card block text-decoration-none black' do %>
    <h2 class="mt0"><%= protest.name %></h2>
    <p><%= protest.description %></p>
    <div class="flex items-center">
      <%= inline_icon 'map-pin', size: 24, class: 'muted mr1' %>
      <%= protest.location %>
    </div>
  <% end %>
<% end %>
