<% page_md %>

</main>
<header class="w-100 map-header" style="background-image: url(<%= map_url(@protest.lat, @protest.lng) %>);">
  <div class="container container--md">
    <%= link_to 'All Events', protests_path, class: 'breadcrumb block h3 mt3' %>
    <h1 class="heading"><%= @protest.name %></h1>
    <%= pop_icon_to 'admin-badge', protest_admin_path(@protest), class: 'warning right ml2 tooltipped tooltipped--s', 'aria-label': 'Admin tools for this event' %>
  </div>
</header>

<main class="container container--md">

<p class="h2">
  <%= @protest.description %>
</p>

<div class="flex items-center mt2 mb2">
  <div class="calendar mr2">
    <span class="calendar__month"><%= @protest.start.strftime('%B') %></span>
    <span class="calendar__day"><%= @protest.start.day %></span>
  </div>
  <div>
    <h2 class="h5 caps mt0 mb0">From–to</h2>
    <span class="h3"><%= event_times(@protest).html_safe %></span>
  </div>
</div>

<iframe src="https://www.google.com/maps/embed/v1/view?key=AIzaSyAzUu3beD2W1qG04YTGrxq_-vvcDq78jew&center=<%= @protest.lat %>,<%= @protest.lng %>&zoom=18%20&maptype=satellite" frameborder="0" class="md-right"></iframe>

<p>
  <h2 class="h5 caps">Location</h2>
  <%= @protest.location %>
</p>

<div>
  <h2 class="h5 caps">What to bring</h2>
  <ul class="list-style-none m0 p0">
    <% @protest.what_to_bring.lines.each do |line| %>
    <li class="flex items-center mb1">
      <%= inline_icon 'checkmark', size: 32, class: 'muted mr1' %>
      <span><%= line %></span>
    </li>
    <% end %>
  </ul>
</div>

<% if @protest.images.any? %>
  <div class="galleria mt2">
    <% @protest.images.each do |img| %>
      <img src="<%= polymorphic_url(img) %>">
    <% end %>
  </div>
<% end %>

<article class="card max-width-2 mt3">
  <h2 class="mt0 mb2 pb1 border-bottom">RSVP for the protest</h2>
  <p>By RSVP’ing, organizers get your info for sending you updates.</p>
  <%= render 'rsvp_form', protest: @protest %>
</article>
